version: "3"
services:
  postfix:
    image: htmlgraphic/postfix:latest
    container_name: postfix
    ports:
      - "25:25"
    restart: always
    environment:
      - LOG_TOKEN=$LOG_ENTRIES_TOKEN
    env_file:
      - .env
