version: 2
jobs:
  build:
    machine: true
    working_directory: ~/postfix

    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: |
            set -x
            curl -L https://github.com/docker/compose/releases/download/1.16.1/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose

      - run:
          name: Build Postfix Docker image
          command: |
            docker info
            docker build -t htmlgraphic/postfix:latest .


# LIVE Build

      - run:
          name: Start LIVE Container
          command: |
            docker-compose -f docker-compose.yml up -d
            docker ps -a
            sleep 10

      - run: mkdir -p ~/logs/container-build

      - run:
          name: LIVE Build Tests
          command: |
            docker logs postfix | grep "$SASL_USER:$SASL_PASS"

      - run:
          name: Container Logs
          command: |
            docker logs postfix > ~/logs/container-build/log_output-LIVE.txt

      - run:
          name: Global Environment Vars
          command: |
            docker exec postfix /bin/bash -c "export"

      - run:
          name: DEV Build Tests
          command: |
            docker exec postfix /bin/bash /opt/tests/build_tests.sh


      - store_artifacts:
          path: ~/logs/container-build
          destination: raw-test-output

      - store_test_results:
          path: ~/logs/container-build
